
.header-bg {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.text-line text {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: dash 3s ease-in-out infinite, filling 2s ease-in-out infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes filling {
    from{
      fill: #FFFFFF;
      fill-opacity: 0;
    }
    to {
      fill: #FFFFFF;
      fill-opacity: 0;
    }
  }
.carousel-control-next-icon, .carousel-control-prev-icon {
    font-size: 5em;
    color: #F00;
}
a, a:hover {
    text-decoration: none;
}
.caps-letter {
    font-size: 3em;
    font-weight: bold;
}
.card-bg {
  background-color: #00000080;
  text-shadow: #000 0 0 4px;
}
/* Style for Names with Letter */
h1 strong#capital-abcd {
  font-size: 3em;
}
h2#prev-cap strong, h2#next-cap strong {
  font-size: 2.5em;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
h2#prev-cap:hover strong, h2#next-cap:hover strong {
  color: #0000ff;
}
.card:hover img#piclink1, .card:hover img#piclink2, .card:hover img#piclink3, .card:hover img#piclink4, .card:hover img#piclink5, .card:hover img#piclink6 {
  filter: brightness(120%);
}
.card:hover {
  cursor: zoom-in;
}
.card:hover p#alt-name1, .card:hover p#alt-name2, .card:hover p#alt-name3, .card:hover p#alt-name4, .card:hover p#alt-name5, .card:hover p#alt-name6 {
  color: #0000ff;
}
/* Style for Capital Letters */
h1#capital-abc strong#capital-abcd {
  font-size: 5em;
}
@media screen and (max-width: 575px) {
  h2#prev-cap strong, h2#next-cap strong {
    font-size: 2em !important;
  }
}
@media screen and (max-width: 768px) {
  strong#capital-abcd {
    font-size: 4em !important;
  }
}
